@import "../../node_modules/tailwindcss/base";
@import "../../node_modules/tailwindcss/components";
@import "../../node_modules/tailwindcss/utilities";

h1,
h2,
h3,
h4,
h5,
h6,
{
  font-family: 'Playfair Display';
  font-weight: normal;
  font-style: normal;
  line-height: 120%;
  letter-spacing: 0em;
}

h5,
h6 {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 18px;
}

body,
.body,
.body-highlight,
.body-small {
  @apply font-body;
  font-weight: normal;
  font-style: normal;
}

body,
.body {
  font-size: 16px;
  line-height: 160%;
}

.body-small,
.org-title-small {
  font-size: 12px;
  line-height: 150%;
}

p {
  @apply py-2;
  @apply text-black-off ;
}

p a {
  @apply text-rust ;
  text-decoration: underline;
}

ul {
  @apply py-2;
  @apply list-disc pl-4;
}

ul li {
  @apply pb-2;
  @apply text-black-off ;
}
