<div class="fixed top-0 z-50 w-screen px-4 py-3 bg-white bg-opacity-90">
  <div class="mx-auto max-w-7xl flex justify-between items-center">
    <div class="w-24 md:w-auto">
      <a href="/" class="font-display font-bold text-lg md:text-xl text-rust hover:text-rust-light transition-all"><span class="text-black-off">Discover</span> <span class="">Droughtland</span></a>
    </div>
    <div class="w-auto space-x-4">
      <!--<a href="/take-action"><button type="button" class="inline whitespace-nowrap transition-all bg-green py-1 px-3 rounded-sm text-sm font-body font-semibold text-white hover:bg-green-lighter">Take action</button></a>-->
    </div>
  </div>
</div>
