<div class="fixed top-0 z-50 w-screen px-2 py-3 bg-white bg-opacity-90">
  <div class="mx-auto max-w-7xl flex justify-between items-center">
      <a href="/" class="font-display font-bold text-md md:text-xl text-rust hover:text-rust-light transition-all"><span class="text-black-off">Discover</span> <span class="">Droughtland</span></a>
      <div>
        <a href="/desertification-and-drought-day"><button type="button" class="inline whitespace-nowrap transition-all bg-rust-light py-1 px-1 rounded-sm text-xs font-body font-semibold text-white hover:bg-rust-lighter">Drought Day</button></a>
        <a href="/take-action"><button type="button" class="inline whitespace-nowrap transition-all bg-green py-1 px-1 rounded-sm text-xs font-body font-semibold text-white hover:bg-green-lighter">Take action</button></a>
      </div>
  </div>
</div>
